<center><hi> Hi <%=user_name%>, how old are you? </hi></center>

<form action='user_age' method='post'>
		<input type='number' required name='age_input'>
		<input type='text' name='name_input' value= <%=user_name%> hidden>
		<input type='submit'>
</form></center>