<center><h3> Hi <%=user_name%>, how old are you? </h3></center>

<center><form action='user_age' method='post'>
		<input type='number' required name='age_input'>
		<input type='text' name='name_input' value= <%=user_name%> hidden>
		<p><input type='submit' value = 'Push It'></p>
</form></center>