<center><hi> Hi <%=user_name%>, how old are you? </hi></center>

<input type = "text" name = "user_name" value = <%=name%> hidden>

<form action='user_age' method='post'>
		<input type='text' required name='age_input'>
		<input type='submit'>

</form></center>