<center><hi> So <%=user_name%>, What are your 3 favorite numbers? </hi></center>

<form action='favorite_nums' method='post'>
		<input type='number' required name='fav_input_1'>
		<input type='number' required name='fav_input_2'>
		<input type='number' required name='fav_input_3'>
		<input type='text' name='name_input' value= <%=user_name%> hidden>
		<input type='number' name='age_input' value= <%=age%> hidden>
		<input type='submit'>
</form></center>