<center><h1> please enter a number </h1></center>



<center><%=user_num%><%=message_one%><%=results%><%=number%>
		
<form action='user_num' method='post'>
		<input type='text' required name='user_input'>
		<input type='submit'>

</form></center>